* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Changa', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(23, 29, 44);
}

.sircil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 55;
    background-color: #444e69;
}


/* up */

.up {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #333f5c;
    position: fixed;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    z-index: 55;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
    bottom: -60px;
}

.up:hover {
    transform: translateY(-20px);
}

.upx {
    bottom: 20px !important;
}


/* mouse_scroll */

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    margin-top: -116px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

html {
    scroll-behavior: smooth;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


/* mouse_scroll */


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

::-webkit-scrollbar-track {
    background-color: #444e69;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #7790cf;
}

::selection {
    background-color: #7790cf6c;
}

header {
    background-color: rgb(57, 67, 94);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 91;
}

.name-or-logo a {
    color: white;
}

.continer {
    width: 80%;
    margin: 0 auto;
}

.hdeader-continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
}

.nave-ul {
    display: flex;
}

.name-or-logo h2 {
    display: inline-block;
}

.span-header {
    font-size: 50px;
    cursor: pointer;
}

@media (max-width: 1060px) {
    .continer-header {
        width: 100% !important;
    }
    .nave-ul {
        display: none;
    }
}

@media (min-width: 1060px) {
    .span-header {
        display: none;
    }
}

.nave-ul a {
    color: white;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    width: 100px;
    text-align: center;
}

.aactive {
    background-color: #57617e;
}

.nave-ul a:hover {
    box-shadow: inset 0px -64px 0px #57617e;
}


/* .nave-ul a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(76, 85, 112);
    width: 100%;
    height: 0;
    z-index: -1;
    transition: 0.5s;
}

.nave-ul a:hover::after {
    height: 100%;
} */


/* list-phone */

.list-phone {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #171d2c7a;
    backdrop-filter: blur(5px);
    top: 0;
    left: 100%;
    transition: 0.5s;
}

.list-phoneX {
    left: 0;
}

.nave-ul-phone {
    width: 90%;
    margin: 150px auto;
}

.nave-ul-phone a {
    color: white;
    font-size: 40px;
    background-color: #444e69;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 20px;
    border-left: 5px solid white;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.nave-ul-phone a:hover {
    transform: translateX(5px);
}

.nave-ul-phone a::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #57617e;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}

.nave-ul-phone a:hover::after {
    width: 100%;
}

.close {
    position: absolute;
    transform: scale(0.5);
    top: -66px;
    right: -50px;
    cursor: pointer;
}

.backgound-img {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
}

.backgound-img img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.backgound-img::after {
    content: "";
    background: linear-gradient(356deg, #171d2c, transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.backgound-img::before {
    content: "";
    background: linear-gradient(356deg, #171d2c, transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.loram-mostafa {
    position: absolute;
    left: 110px;
    top: 160px;
    text-align: end;
    z-index: 55;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 380px);
}

.loram-mostafa p {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

@media (max-width:588px) {
    .arabic-name {
        display: none;
    }
}

@media (max-width:777px) {
    .loram-mostafa p {
        font-size: 32px;
        line-height: 40px;
    }
    .loram-mostafa {
        top: 74px;
    }
    .arrow-left-right span {
        font-size: 30px !important;
        height: 200px !important;
    }
}


/* About */

.About h1 {
    color: white;
    text-align: center;
    font-size: 88px;
}

.About {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.About p {
    color: #d8d8d8;
}

.name {
    text-align: center;
    color: #cfcfcf;
    font-size: 30px;
    margin-top: -58px;
}

.its {
    color: white;
}

.loram-and-img-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(483px, 1fr));
    gap: 20px;
}

.loreim-img {
    overflow: hidden;
    height: 594px;
    border-radius: 15px;
}

.loreim-img img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}


/* books-grid */

.book {
    margin: 100px 0 !important;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(386px, 1fr));
    gap: 10px;
}

.book-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    border-radius: 5px;
}

.book-img:hover img {
    transform: scale(1.1) rotate(5deg);
}

.book-img img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books h1 {
    color: white;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    margin-bottom: 30px;
}

.eay {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
}

.book-move {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
}

.read {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
}

.wepsite-tawlk-about-me h1 {
    text-align: center;
    color: white;
}


/* wepsite-tawlk-about-me */

.grid-artikel-wpsite {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 51%;
    margin: 10px auto;
}

.grid-artikel-wpsite a {
    text-align: center;
}

.img-tawlk {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: .5s;
}

.img-tawlk:hover img {
    transform: scale(1.1) rotate(5deg);
}

.img-tawlk img {
    width: 70%;
    transition: .5s;
}

.wepsite-tawlk-about-me {
    margin: 100px 0;
}

@media (max-width: 580px) {
    .loram-and-img-div {
        grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    }
    .loreim-img img {
        height: 100%;
    }
    .book-grid {
        grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
    }
    .wepsite-tawlk-about-me h1 {
        font-size: 27px;
    }
    .grid-artikel-wpsite {
        grid-template-columns: repeat(auto-fill, minmax(87px, 1fr));
        width: 81%;
    }
    .books h1 {
        font-size: 40px;
    }
}


/* book-overlay  */

.book-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #171d2c7a;
    backdrop-filter: blur(5px);
    top: 0;
    left: 100%;
    transition: 0.5s;
}

.book-overlayX {
    left: 0;
}

.img-over {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.book-overlay img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.close-book-over {
    position: absolute;
    transform: scale(0.5);
    top: -66px;
    right: -50px;
    cursor: pointer;
}

.book-overlay .left {
    position: absolute;
    left: 0;
    font-size: 40px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.096);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.5s;
}

.book-overlay .left:active {
    background-color: rgba(255, 255, 255, 0.199);
}

.book-overlay .right {
    position: absolute;
    right: 0;
    font-size: 40px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.096);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.book-overlay .right:active {
    background-color: rgba(255, 255, 255, 0.199);
}

footer {
    height: 280px;
    background-color: #222a3e;
    position: relative;
}

footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sochil-media {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.sochil-media a {
    color: white;
    transition: 0.5s;
}

.a-span {
    color: white;
    background-color: #2d3852;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    font-size: 36px;
    width: 63px;
    height: 63px;
    transition: 0.5s;
}

.a-span:hover {
    box-shadow: inset 0px -64px 0px #7790cf;
}

.a-span:hover a {
    transform: scale(1.05)rotate(5deg);
}

.contact {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    transform: translateY(30px);
}

.logo-ffoter {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
    transform: translateY(38px);
}

.logo-ffoter img {
    width: 100px;
}


/* footer-contant::after */

.footer-contant::after {
    content: "";
    background-image: url(img/wave.png4.png);
    width: 100%;
    position: absolute;
    height: 300px;
    left: 0;
    background-repeat-y: no-repeat;
    top: -132px;
    z-index: -1;
    animation: wavse3 20s infinite linear;
}

.footer-contant::before {
    content: "";
    background-image: url(img/wave.png4.png);
    width: 100%;
    position: absolute;
    height: 300px;
    left: 0;
    background-repeat-y: no-repeat;
    top: -132px;
    opacity: 0.5;
    z-index: -1;
    animation-delay: -2s;
    animation: wavse3 30s infinite linear;
}

@keyframes wavse3 {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 900px;
    }
    100% {
        background-position-x: 0;
    }
}

.back-footer {
    background-image: url(img/wave.png4.png);
    width: 100%;
    height: 300px;
    left: 0;
    background-repeat-y: no-repeat;
    opacity: 0.5;
    z-index: -1;
    animation-delay: -2s;
    animation: wavse3 5s infinite linear;
    position: absolute;
    top: -128px;
    z-index: 55;
}

.back-footer2 {
    background-image: url(img/wave.png4.png);
    width: 100%;
    height: 300px;
    left: 0;
    background-repeat-y: no-repeat;
    opacity: 1;
    z-index: -1;
    animation-delay: -2s;
    animation: wavse3 50s infinite linear;
    position: absolute;
    top: -128px;
    z-index: 55;
}

.back-footer3 {
    background-image: url(img/wave.png4.png);
    width: 100%;
    height: 300px;
    left: 0;
    background-repeat-y: no-repeat;
    opacity: 0.5;
    z-index: -1;
    animation-delay: -2s;
    animation: wavse3 15s infinite linear;
    position: absolute;
    top: -128px;
    z-index: 55;
}
.maps {
    width: 350px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
}
